.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    display: inline-block;
    font-size: 2rem;
    border-radius: 1rem;
    transition: all .2s;   /*还原smoothly*/
    position: relative;
    font-weight: 100;
    //font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }


  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,.3);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; /*fade*/
    }
  }

  &:focus,
  &:active {
    outline: none;
    transform: translateY(.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black,.3);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: #fff;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    animation-name: moveInBottom;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-delay: .75s;
    animation-fill-mode: backwards; /*使button一开始不出现*/
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*移至下层*/
    transition: all .4s;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .3s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black,.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black,.15);
    transform: translateY(0px);
  }
}
