.book-show {
    margin-right: 5em;
    margin-left: 2rem;
    /* margin-bottom: -8rem; */
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next {
    right: 5rem;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.book-show a {
    width: 3rem;
}

a:hover{
    color: #c7004c
}

a:active {
    color: #ffaaaa
}

a {
    color: #8f1537
}

.show-row {
    transform:translate(0, 20%);
}

.slick-dots {
    transform: translateY(-5rem);
}
