

.ant-dropdown-menu {
    overflow: auto;
    max-height: 45vh;
}

.ant-breadcrumb-link {
    padding: 1rem;
}

.ant-breadcrumb-separator {
    line-height:0;
    font-size:0;
    overflow:hidden;
}

.ant-breadcrumb {
    margin: 0;
    padding: .8rem 0 0 1rem;
    font-size: 15px;
    font-weight: 300;

    background-color: #fcfcfcfc;
    /* background: linear-gradient(to bottom, #fff, #aaaaaa); */
    height: 3rem;
    
    vertical-align: 50%;

    font-size: 1rem;
    

    
}

.ant-breadcrumb-link {
    font-weight: 500;
}

.ant-breadcrumb a {
    color: #888888;
    font-weight: 700;
}

.ant-breadcrumb a:hover {
    color: #193441;
}

.ant-breadcrumb-link {
    margin-top: 25%;
}
