.ant-dropdown-menu {
    overflow: auto;
    max-height: 75vh;
}

.ant-breadcrumb-link {
    padding: 1rem;
}

.ant-breadcrumb-separator {
    line-height:0;
    font-size:0;
    overflow:hidden;
}

.ant-breadcrumb {
    background-color: #d1dbbd;
    background: linear-gradient(to bottom, #91aa9d, #d1dbbd);
    height: 2rem;
    
    font-size: 1rem;
}

.ant-breadcrumb a {
    color: rgb(237, 240, 235);
}

.ant-breadcrumb a:hover {
    color: #193441;
}

.ant-breadcrumb-link {
    margin-top: 25%;
}
